
/* Small display exclusive */

@media only screen and (max-width: 480px){
    #heroSection{
        top: 15%!important;
    }
    #heroText h4{
        font-size: 2.5rem!important;
        color: black;
        width: 100%;
    }
    #heroText p{
        width: 100%;
        font-size: 0.85rem!important;
    }
    #heroBtnContainer{
        width: 100%;
        justify-content: space-between;
    }
    .heroBtn{
        font-size: 0.75rem!important;
    }
    #section3In h2{
        font-size: 1.75rem!important;
        width: 100%!important;
    }
    .CDScreen .carouselImg{
        height: 200px!important;
    }
    
    #section5Top h4{
        font-size: 2.2rem!important;
    }
    .section5Lower h6{
        font-size: 0.85rem!important;
    }
    #s5LowerMid{
        width: 70%!important;
    }
}


/* mid display exclusive */

@media only screen and (max-width: 780px) and (min-width:480px){

    .carouselImg{
        width: 90%!important;
        height: 250px!important;
    }
    .section5Lower h6{
        font-size: 1.85rem!important;
    }
    #s5LowerMid{
        width: 80%!important;
    }

}

/* small to mid display common */

@media only screen and (max-width: 780px){
    body{
        overflow-x: hidden;
    }
    #navHeads{
        display: none;
    }
    #signIn{
        display: none;
    }
    /* disabling popups */
    #productsPopupContainerOut{
        display: none;
    }
    #solutionsPopupContainerOut{
        display: none;
    }
    #documentationPopupContainerOut{
        display: none;
    }
    #resourcePopupContainerOut{
        display: none;
    }

    /* Hero section */
    #heroBg{
        height: 50vh;
    }
    #heroText{
        padding-left: 40px;
    }
    #heroText h4{
        font-size: 3.5rem;
        color: black;
        width: 100%;
    }
    #heroText p{
        width: 100%;
        font-size: 1.1rem;
    }
    #heroBtnContainer{
        width: 100%;
        justify-content: space-evenly;
    }
    #heroDisplay{
        display: none;
    }
    #heroBottom{
        grid-template-columns: 1fr 1fr;
    }
    /* Section 1 */
    #section1Out{
        padding-top: 40px;
        margin-top: 40px;
        padding-left: 40px;
        top: 1100px!important;
    }
    #section1Text{
        display: block!important;
    }
    #section1Text div{
        display: block!important;
        width: 100%;
    }
    #section1Text h2{
        width: 100%!important;
        font-size: 3.5rem;
    }
    #section1Display{
        transform: translateX(-20px)!important;
        overflow-x: hidden;

    }
    /* Section 2 */
    #section2Out{
        clip-path: polygon(100% 0, 100% 85%, 0 80%, 0 5%)!important;
        padding-bottom: 50px;
        top: 2600px!important;
    }
    #section2In{
        padding-left: 20px;
    }
    #section2Top{
        display: block!important;
    }
    #section2TopDisplay{
        margin-top: 50px;
    }
    #section2TopDisplay video{
        width: 100vw!important;
        transform: translateX(-20px)!important;
    }
    #section2Bottom{
        grid-template-columns: 1fr!important;
    }
    #designEl1{
        height: 150px!important;
        clip-path: polygon(100% 0, 100% 60%, 0 100%, 0 40%)!important;
    }
    #designEl2{
        height: 120px!important;
        clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%)!important;
    }

    /* Section 3 */
    #section3Out{
        top: 5050px!important;
    }
    #section3In{
        padding-left:40px ;
    }
    #section3BlockContainer{
        grid-template-columns: 1fr!important;
    }
    /* section 4 */
    #section4Out{
        top: 6400px!important;
    }
    #section4In{
        padding-left: 20px;
    }
    .CDScreen{
        grid-template-columns: 1fr!important;
    }
    .carouselImg{
        width: 90%!important;
        margin-top: 20px;
    }
    .carouselLogo{
        display: none!important;
    }

    /* section 5 */
    #section5Out{
        top: 7700px!important;
    }
    #section5El1{
        clip-path: polygon(0 20%, 100% 0%, 100% 40%, 0 60%)!important;
        transform: translateY(150%)!important;
    }
    #section5El2{
        clip-path: polygon(0 25%, 100% 0%, 100% 30%, 0 55%)!important;
        height: 150px!important;
        transform: translateY(50%);
    }
    #section5BgContainer{
        height: 1200px!important;
        clip-path: polygon(0 25%, 100% 15%, 100% 100%, 0% 100%)!important;       
    }
    #section5In{
        display: block!important;
        padding-left: 20px;
    }
    #section5LowerStart{
        display: block!important;
        grid-column-start: 0;
    }
    .section5Lower{
        margin-top: 20px;
    }
    
    #section5LowerText{
        grid-template-columns: 1fr!important;
        padding-left: 20px;
        padding-top: 60px;
        row-gap: 40px!important;
    }
    #section5LowerDesign{
        margin-top: 0px!important;
        transform: translateY(-30%);
    }
    
    #s5LowerEl1{
        width: 95%!important;
    }
    #s5LowerEl2{
        width: 95%!important;
        margin-left: 5%!important;
    }
    /* footer */
    #footerOutContainer{
        top: 10000px !important;
        padding: 50px 0 50px 0!important;
    }
    #footer{
        grid-template-columns: 1fr 1fr!important;
        padding: 0 10px 0px 10px;
        row-gap: 20px;
    }
    #footerHead{
        grid-column-start: 1;
        grid-column-end: 3;
        height: 150px;
    }
}
