/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');


/* Common css */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
:root{
    --textGray:#a3a3a3;
    --bgGray:#e5e5e5;
    --btnBlue:#0a2540;
}

/* hero Section BG */
#heroBg{
    position: absolute;
    width: 100%;
    z-index: -10;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 70%);
    height: 100vh;
}
#heroSection{
    width: 100%;
    max-width: 1200px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    overflow-x: visible;
}
#heroTop{
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
}
#heroText{
    width: 90%;
}
#heroText h4{
    font-size: 7rem;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.549);
}
#heroText p{
    font-size: 1.2rem;
    margin-top: 40px;
    width: 70%;
    color: var(--textGray);
    font-weight: 550;
}
#heroBtnContainer{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-top: 40px;
}
.heroBtn{
    border-radius: 20px;
    padding: 10px 20px;
    border:none;
    background-color: white;
    color: var(--btnBlue);
    font-weight: 500;
    transition: all 0.25s;
}
#heroBtn1{
    background-color: var(--btnBlue);
    color: white;
}
#hoverArr{
    display: none;
}
.heroBtn:hover{
    box-shadow: 5px 5px 2px var(--textGray);
}
.heroBtn:hover #hoverArr{
    display: inline;
}
.heroBtn:hover #notHover{
    display: none;
}

#heroDisplay{
    display: flex;
}
#HDFront{
    width: 270px;
    height: 580px;
    background-color: white;
    border-radius: 45px;
    transform: translateY(60px) translateX(40px);
    border: 5px solid var(--bgGray);
    background: url(../../assets/heroDisplay/mobBack.png) center no-repeat;
    background-size: cover;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}
#HDBack{
    width: 600px;
    height: 500px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    z-index: -10;
    transform: translateX(-80px);
}
#HDBackLogo{
    width: 25%;
    color: white;
    padding-top: 10px;
    padding-left: 5px;
}
#HDBackContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 75%;
    padding-top: 10px;
}
#HDBackSearch{
    background-color: white;
    width: 70%;
    border-radius: 5px;
    font-size: 0.85rem;
    color: var(--textGray);
    font-weight: 550;
    padding: 5px 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
#HDBackMain{
    width: 100%;
    height: 80%;
    background-color: #0a2540;
    border-radius: 10px;
    background: url(../../assets/heroDisplay/hdBack.png) center no-repeat;
    background-size: cover;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
#heroBottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    padding: 50px 25px;
}
.companyLogo{
    width: 100%;
    height: 150px;
    background-color: #0a2540;
    background-size: cover;
    background: center no-repeat;
}
#rocketium{
    background: url(../../assets/heroDisplay/companyLogos/rocketium.png) no-repeat;
}
#nalli{
    background: url(../../assets/heroDisplay/companyLogos/nalli.png) no-repeat;
}
#slack{
    background: url(../../assets/heroDisplay/companyLogos/slack.png) no-repeat;
}
#jaypore{
    background: url(../../assets/heroDisplay/companyLogos/jaypore.png) no-repeat;
}
#invideo{
    background: url(../../assets/heroDisplay/companyLogos/invideo.png) no-repeat;
}
#zoom{
    background: url(../../assets/heroDisplay/companyLogos/zoom.png) no-repeat;
}
#shopify{
    background: url(../../assets/heroDisplay/companyLogos/shopify.png) no-repeat;
}
#amazon{
    background: url(../../assets/heroDisplay/companyLogos/amazon.png) no-repeat;
}